<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{{$pageTitle}}</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/font-awesome/4.0.3/css/font-awesome.min.css" />

        <!-- page specific plugin styles -->
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/chosen.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/datepicker.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/bootstrap-timepicker.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/daterangepicker.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/colorpicker.css" />

        <!-- picture move
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/jquery.gritter.css" />
        -->

        <!-- text fonts -->
        <link rel="stylesheet" href="//fonts.useso.com/css?family=Open+Sans:400,300" />

        <!-- ace styles -->
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/ace.min.css" />

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="{{$assetsUri}}admin/css/ace-part2.min.css" />
        <![endif]-->
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/ace-skins.min.css" />
        <link rel="stylesheet" href="{{$assetsUri}}admin/css/ace-rtl.min.css" />

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="{{$assetsUri}}admin/css/ace-ie.min.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="{{$assetsUri}}admin/js/ace-extra.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="{{$assetsUri}}admin/js/html5shiv.js"></script>
        <script src="{{$assetsUri}}admin/js/respond.min.js"></script>
        <![endif]-->

        <!-- basic scripts -->

        <!--[if !IE]> -->

        <!-- <![endif]-->

        <!--[if IE]>
        <script src="//ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <![endif]-->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{$assetsUri}}admin/js/jquery.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{{$assetsUri}}admin/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
    </head>

    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default">
            <script type="text/javascript">
               
            </script>

            <div class="navbar-container" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="fa fa-leaf"></i>
                    
                        </small>
                    </a>
                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue">
               
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                           

                            <li class="divider"></li>

                            <li>
                            <a href="{{ url('backend/login/logout') }}">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出
                            </a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- /.navbar-container -->
        </div>

        <div class="main-container" id="main-container">
         

            <div id="sidebar" class="sidebar                  responsive">
             

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
               <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
                </button>

                <!--<button class="btn btn-danger">-->
                <!--<i class="ace-icon fa fa-cogs"></i>-->
                <!--</button>-->
                <!--</div>-->

                <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">-->
                <!--<span class="btn btn-success"></span>-->

                <!--<span class="btn btn-info"></span>-->

                <!--<span class="btn btn-warning"></span>-->

                <!--<span class="btn btn-danger"></span>-->
                </div>
                </div>
                <!-- /.nav-list -->
                <ul class="nav nav-list">

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 首页管理 </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">

                            <li class="">
                                <a href="/backend/PageHome/index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    生成XML
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/backend/PageHome/uploadimglist">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    上传图片
                                </a>

                                <b class="arrow"></b>
                            </li>

                            

                        </ul>
                    </li>
                
                </ul>
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>

            </div>

            <div class="main-content">

                          <div class="breadcrumbs" id="breadcrumbs">
                {literal}
                    <script type="text/javascript">
                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>
                {/literal}
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="/backend/PageHome/index">首页</a>
                        </li>
                        <li class="active">图片列表</li>
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search" action="/backend/PageHome/uploadimglist" method="post">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" name="search" autocomplete="off">
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                            <button class="btn btn-minier btn-yellow" type="submit">查询</button>
                        </form>
                    </div><!-- /.nav-search -->
                </div>
                <div class="page-content">

                    <!-- 消息提醒S -->
            
                    <!-- 消息提醒E -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <form action="" method="post">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th><a href="">ID</a></th>
                            <th><a href="">标题</a></th>
                            <th><a href="">图片</a></th>
                            <th><a href="">链接</a></th>
                            <th><a href="">时间</a></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                    {foreach $info as $k=>$v}
                    <tr>
                        <td class="center">
                            <label class="position-relative">
                                <input name="dels[]" value="" type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>{$v.id}</td>
                        <td>{$v.title}</td>
                        <td><img src="{$v.img}" width="50px" height="50px"></td>
                        <td>{$v.img}</td>
                        <td>{$v.dateline|date_format:'%Y-%m-%d %H:%M:%S'}</td>
                      
                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <a class="btn btn-xs btn-info" href="">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>

                                <a class="btn btn-xs btn-danger adel" href="">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                   {/foreach}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-xs-6">
                        <a href="/backend/PageHome/uploadimg" class="btn btn-app btn-primary no-radius">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-230"></i>
                                            新建
                                            <span class="badge badge-warning badge-left"></span>
                                        </a>

                    </div>
                       <div class="col-xs-6">
                        <a href="/backend/PageHome/uploadimglist" class="btn btn-app btn-primary no-radius">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-230"></i>
                                        刷新
                                            <span class="badge badge-warning badge-left"></span>
                                        </a>

                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                               
                            </ul>
                        </div>
                    </div>
                </div>
                </form>

            </div><!-- /.span -->
        </div><!-- /.row -->


    </div>
</div>



                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-120">
                            <span class="blue bolder">青岛进来</span>
                       
                           copyright 2018
                        </span>
                    </div>
                </div>
            </div>

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->
        <!-- basic scripts -->


        <!--[if !IE]> -->
        <script src="//ajax.useso.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script src="//ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <![endif]-->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{$assetsUri}}admin/js/jquery.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{{$assetsUri}}admin/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->

        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{{$assetsUri}}admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- page specific plugin scripts -->

      

        <!-- page specific plugin scripts -->
        <script src="{{$assetsUri}}admin/js/jquery.dataTables.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.dataTables.bootstrap.js"></script>
    
        <script src="{{$assetsUri}}admin/js/jquery-ui.custom.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.ui.touch-punch.min.js"></script>
        <script src="{{$assetsUri}}admin/js/chosen.jquery.min.js"></script>
        <script src="{{$assetsUri}}admin/js/fuelux/fuelux.spinner.min.js"></script>
        <script src="{{$assetsUri}}admin/js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="{{$assetsUri}}admin/js/date-time/bootstrap-timepicker.min.js"></script>
        <script src="{{$assetsUri}}admin/js/date-time/moment.min.js"></script>
        <script src="{{$assetsUri}}admin/js/date-time/daterangepicker.min.js"></script>
        <script src="{{$assetsUri}}admin/js/date-time/bootstrap-datetimepicker.min.js"></script>
        <script src="{{$assetsUri}}admin/js/bootstrap-colorpicker.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.knob.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.autosize.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.maskedinput.min.js"></script>
        <script src="{{$assetsUri}}admin/js/bootstrap-tag.min.js"></script>

        <!-- page specific plugin scripts -->
        <script src="{{$assetsUri}}admin/js/markdown/markdown.min.js"></script>
        <script src="{{$assetsUri}}admin/js/markdown/bootstrap-markdown.min.js"></script>
        <script src="{{$assetsUri}}admin/js/jquery.hotkeys.min.js"></script>
        <script src="{{$assetsUri}}admin/js/bootstrap-wysiwyg.js"></script>
        <script src="{{$assetsUri}}admin/js/bootbox.min.js"></script>

        <!-- ace scripts -->
        <script src="{{$assetsUri}}admin/js/ace-elements.min.js"></script>
        <script src="{{$assetsUri}}admin/js/ace.min.js"></script>

        <!-- 图片移动/拖位
    
        -->
        <!-- 图片异步上传 -->
        <script src="{{$assetsUri}}admin/js/ajaxfileupload.js"></script>

    </body>
</html>
